footer{
    background-color: darkgray;
    text-align: center;
}

.texto {
    padding-top: 2%;
}
.division{
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: [x0] 50% [x1] 50%;
    padding: 0.8%;
  }
  
@media (max-width:500px) {
    .division{
        display: block;
    }
}