p{
  text-align: center;
}
a{
  text-decoration:dashed;
  color: black;
}

a:hover{
  font-size: 100px;
  color:red;
}

.lugares{
  border-radius: 50%;
  width: 50%;
  right: 50%;
  margin: 0%;
}

.titulo{
  text-align: center;
  padding: 5%;;
}

.menu{
  text-align: center;
  display: grid;
  align-content: center;
  grid-template-columns: [x0] 50% [x1] 50%;
 margin: 0%  0%  2%  0%;
}

.casa{
  padding: 5%;
  grid-column-start: x0 / x1;
}

.vivienda{
  text-align: center;
  padding: 5%;
  grid-column-start: x1 / x2;
}